<head>
	{% if site.google_analytics %}
	<script async src='https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}'></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', '{{ site.google_analytics }}');
	</script>
	{% endif %}
	<meta charset='UTF-8'>
    <title>Yes Fam {{ page.title }}</title>
    <meta name="description" content ="Yes Fam - {{ page.description }}">
    <meta property="og:image" content="https://yes-fam.com/assets/image/social.jpg">
    <meta name="robots" content="index, follow">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#0039ff">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#0039ff">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#0039ff">

	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<meta name='theme-color' content='#157878'>
	<meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'>
	<link rel='stylesheet' href='/assets/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/assets/css/selectize.css'>
    <link rel='stylesheet' href='/assets/css/selectize.default.css'>
	<link rel='stylesheet' href='{{ '/assets/css/designbyluise.css?v=' | append: site.github.build_revision | relative_url }}'>
	<script src='/assets/js/jquery-3.4.1.min.js'></script>
	<script src='/assets/js/popper.min.js'></script>
	<script src='/assets/js/bootstrap.min.js'></script>
	<script src='/assets/js/jquery.googlecalreader-1.1.min.js'></script>
	<script src='/assets/js/polyfills.js'></script>
	<script src='/assets/js/webp-hero.bundle.js'></script>
    <script src='/assets/js/selectize.min.js'></script>
	<script src='{{ '/assets/js/codebynoel.js?v=' | append: site.github.build_revision | relative_url }}'></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
</head>