---
---

@font-face {
    font-family: "Remnant";
    src: url("../font/Remnant-Regular.woff2") format("woff2");
}

$remnant: 'Remnant','Open Sans', sans-serif;
$mainColor: #0039ff;
$secondaryColor: #f3997b;
body{
    background: $secondaryColor;
}
header{
    height: 82px;
    background-color: $mainColor;
    position: relative;
    @media (min-width: 992px) {
        height: 170px;
    }
    .logo{
        display: table;
        position: relative;
        left: 20px;
        top: 20px;
        @media (min-width: 992px) {
            top: 38px;
            left: 50px;
        }
        @media (min-width: 1920px) {
            top: 26px;
            left: 40px;
        }
        img{
            width: 44px;
            height: auto;
            @media (min-width: 992px) {
                width: 110px;
            }
            @media (min-width: 1920px) {
                width: 180px;
            }
        }
        span{
            font-family: $remnant;
            color: white;
            position: relative;
            display: block;
            font-size: 12px;
            letter-spacing: 2px;
            margin: 2px 0 0 0;
            @media (min-width: 992px) {
                font-size: 29px;
                letter-spacing: 2px;
                margin: 0;
            }
            @media (min-width: 1920px) {
                letter-spacing: 7px;
                margin: 6px 0 0 22px;
            }
        }
    }
    h1{
        font-family: $remnant;
        color: white;
        display: block;
        position: absolute;
        top: 0;
        height: 98px;
        bottom: 0;
        font-size: 16px;
        left: 95px;
        line-height: 82px;
        @media (min-width: 992px) {
            font-size: 48px;
            left: 306px;
            line-height: 170px;
        }
        @media (min-width: 1920px) {
            font-size: 83px;
        }
    }
}
main{
    display: block;
    height: auto;
    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        padding: 0 0 20px 0;
    }
    nav{
        float: left;
        height: 100%;
        flex-grow: 0;
        z-index: 900;
        position: relative;
        top: 0;
        display: block;
        width: 100%;
        padding: 30px 20px 10px 20px;
        @media (min-width: 992px) {
            display: table;
            width: 290px;
            padding: 30px 0 0 40px;
        }
        @media (min-width: 1920px) {
            padding: 60px 0 0 40px;
        }
        .nav{
            display: block;
        }
        a{
            font-family: $remnant;
            color: white;
            display: block;
            transition: font-size 0.3s ease-in-out;
            font-size: 20px;
            padding: 0 0 20px 0;
            @media (min-width: 992px) {
                font-size: 26px;
                padding: 0 0 20px 0;
            }
            @media (min-width: 1920px) {
                font-size: 33px;
                padding: 0 0 30px 0;
            }
            &:before{
                content: '>';
                font-family: $remnant;
                display: inline;
                color: white;
                margin: 0 8px 0 0;
            }
            &.active{
                font-size: 26px;
                width: auto;
                color: $mainColor;
                @media (min-width: 992px) {
                    font-size: 40px;
                }
                @media (min-width: 1920px) {
                    font-size: 50px;
                }
                &:before{
                    color: $mainColor;
                }
            }
            &:hover{
                text-decoration: none;
                color: $mainColor;
            }
        }
    }
    .pages{
        padding: 0;
        display: block;
        @media (min-width: 992px) {
            display: block;
            flex-grow: 1;
            padding: 30px 0 0 0;
        }
        @media (min-width: 1920px) {
            padding: 70px 0 0 0;
        }
        > div{
            display: none;
        }
        > div.active{
            display: block;
            @media (min-width: 992px) {
                display: flex;
                justify-content: space-between;
            }
        }
        .box{
            display: table;
            width: 100%;
            padding: 0 20px;
            background: white;
            @media (min-width: 992px) {
                width: 410px;
                height: 450px;
                padding: 30px 40px 50px 88px;
                display: block;
                background: initial;
                background-size: cover;
                background-image: url('../image/box.webp');
            }
            @media (min-width: 1920px) {
                width: 727px;
                height: 796px;
                padding: 90px 80px 80px 170px;
            }
            .box-content{
                height: 100%;
                display: block;
                overflow: scroll;
                h2{
                    font-family: $remnant;
                    font-size: 24px;
                    color: $secondaryColor;
                    margin: 30px 0 20px 0;
                    @media (min-width: 992px) {
                        font-size: 36px;
                    }
                    @media (min-width: 1920px) {
                        font-size: 42px;
                    }
                }
                ul{
                    margin: 0;
                    padding: 0;
                    display: table;
                    li{
                        font-family: $remnant;
                        font-size: 20px;
                        list-style-type: none;
                        margin: 0 0 36px 0;
                        padding: 0;
                        color: $secondaryColor;
                        position: relative;
                        display: table;
                        @media (min-width: 992px) {
                            font-size: 24px;
                            width: 236px;
                        }
                        @media (min-width: 1920px) {
                            font-size: 33px;
                            width: 380px;
                        }
                        &.fb{
                            &:before{
                                content: '\f39e';
                                color: #3b5998;
                            }
                        }
                        &.wa{
                            &:before{
                                content: '\f232';
                                color: #25d366;
                            }
                        }
                        &.me{
                            &:before{
                                content: '\f39f';
                                color: #0078FF;
                            }
                        }
                        &.open{
                            > span{
                                background-image: url(../image/open.webp);
                            }
                        }
                        &.full{
                            > span{
                                background-image: url(../image/full.webp);
                            }
                        }
                        &:before{
                            font-family: "Font Awesome 5 Brands";
                            font-size: 30px;
                            padding: 0 18px 0 0;
                            @media (min-width: 992px) {
                                font-size: 32px;
                            }
                            @media (min-width: 1920px) {
                                font-size: 46px;
                            }
                        }
                        &:after{
                            content: '';
                            display: block;
                            position: absolute;
                            left: 40px;
                            right: 0;
                            width: calc( 100% - 92px );
                            height: 18px;
                            background-size: cover;
                            background-position: top center;
                            background-repeat: no-repeat;
                            background-image: url(../image/underline.webp);
                            @media (min-width: 992px) {
                                height: 10px;
                                width: calc( 100% - 112px );
                            }
                            @media (min-width: 1920px) {
                                width: calc( 100% - 146px );
                            }
                        }
                        > span{
                            display: block;
                            float: right;
                            width: 46px;
                            background-size: cover;
                            height: 26px;
                            margin: 8px 0 0 4px;
                            @media (min-width: 992px) {
                                width: 52px;
                                height: 28px;
                                margin: 10px 0 0 20px;
                                position: absolute;
                                top: 0;
                                right: -46px;
                            }
                            @media (min-width: 1920px) {
                                width: 98px;
                                height: 54px;
                                right: -96px;
                            }
                        }
                    }
                }
            }
        }
        .map{
            width: 100px;
            right: 0;
            top: 20px;
            position: absolute;
            z-index: 950;
            background-color: transparent;
            height: auto;
            transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out, top 0.3s ease-in-out, height 0.3s ease-in-out;
            @media (min-width: 992px) {
                width: 200px;
                right: 30px;
                position: relative;
                top: -150px;
            }
            @media (min-width: 1440px) {
                width: 400px;
            }
            @media (min-width: 1920px) {
                width: 860px;
                top: -200px;
            }
            img{
                width: 100%;
            }
            &.choose{
                width: 100%;
                background-color: white;
                top: 0;
                height: 100%;
            }
        }
    }
}