---
---

@font-face {
    font-family: "Remnant";
    src: url("../font/Remnant-Regular.woff2") format("woff2");
}

$remnant: 'Remnant','Open Sans', sans-serif;
$mainColor: #0039ff;
$secondaryColor: #f3997b;

header{
    height: 170px;
    background-color: $mainColor;
    position: relative;
    .logo{
        display: block;
        position: relative;
        top: 26px;
        left: 40px;
        width: calc( 100% - 40px );
        img{
            width: 180px;
            height: auto;
        }
        span{
            font-family: $remnant;
            font-size: 29px;
            color: white;
            position: relative;
            display: block;
            margin: 6px 0 0 22px;
            letter-spacing: 7px;
        }
    }
    h1{
        font-family: $remnant;
        color: white;
        font-size: 83px;
        display: block;
        position: absolute;
        top: 0;
        left: 306px;
        height: 98px;
        line-height: 98px;
        bottom: 0;
        margin: auto 0;
    }
}
main{
    background: $secondaryColor;
    display: flex;
    height: calc( 100vh - 170px );
    nav{
        padding: 60px 0 0 40px;
        display: table;
        float: left;
        width: 370px;
        height: 100%;
        flex-grow: 0;
        .nav{
            display: block;
        }
        a{
            &:before{
                content: '>';
                font-family: $remnant;
                display: inline;
                color: white;
                margin: 0 8px 0 0;
            }
            &.active{
                font-size: 50px;
                width: auto;
                color: $mainColor;
                &:before{
                    color: $mainColor;
                }
            }
            &:hover{
                text-decoration: none;
                color: $mainColor;
            }
            font-family: $remnant;
            font-size: 33px;
            color: white;
            display: block;
            padding: 0 0 30px 0;
            transition: font-size 0.3s ease-in-out;
            width: 200px;
        }
    }
    .pages{
        display: table;
        flex-grow: 1;
        padding: 50px 0 0 0;
        > div{
            display: none;
        }
        > div.active{
            display: block;
        }
        .box{
            background-image: url('../image/box.webp');
            min-width: 727px;
            height: 796px;
            display: table;
            padding: 20px 80px 0 170px;
            background-size: cover;
            h2{
                font-family: $remnant;
                font-size: 42px;
                color: $secondaryColor;
                margin: 70px 0 20px 0
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    font-family: $remnant;
                    font-size: 33px;
                    list-style-type: none;
                    margin: 0 0 36px 0;
                    padding: 0;
                    color: $secondaryColor;
                    position: relative;
                    display: table;
                    &.fb{
                        &:before{
                            content: '\f39e';
                            color: #3b5998;
                        }
                    }
                    &.wa{
                        &:before{
                            content: '\f232';
                            color: #25d366;
                        }
                    }
                    &.me{
                        &:before{
                            content: '\f39f';
                            color: #0078FF;
                        }
                    }
                    &.open{
                        > span{
                            background-image: url(../image/open.webp);
                        }
                    }
                    &.full{
                        > span{
                            background-image: url(../image/full.webp);
                        }
                    }
                    &:before{
                        font-family: "Font Awesome 5 Brands";
                        font-size: 46px;
                        padding: 0 18px 0 0;
                    }
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        left: 40px;
                        right: 0;
                        width: calc( 100% - 146px );
                        height: 18px;
                        background-size: cover;
                        background-position: top center;
                        background-repeat: no-repeat;
                        background-image: url(../image/underline.webp);
                    }
                    > span{
                        display: block;
                        width: 98px;
                        height: 54px;
                        float: right;
                        margin: 10px 0 0 20px;
                    }
                }
            }
        }
    }
}