---
---

*{
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: "Remnant";
    src: url("../font/Remnant-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    src: url("../font/Open-Sans.woff2") format("woff2");
}

$remnant: 'Remnant','Open Sans', sans-serif;
$mainColor: #0039ff;
$secondaryColor: #f3997b;
$redColor: #ed3c04;
$greenColor: #30d228;
$headerHeight: 170px;
$navWidth: 330px;

@mixin box-underline {
    content: '';
    display: block;
    position: absolute;
    left: 40px;
    right: 0;
    width: calc( 100% - 92px );
    height: 10px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(../image/underline.webp);
    opacity: 1;
    z-index: 40;
    transition: opacity 0.3s ease-in-out;
    @media (min-width: 992px) {
        width: calc( 100% - 30px );
    }
    @media (min-width: 1920px) {
        width: calc( 100% - 42px );
    }
}

@mixin scroll-bar {
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        border: 1px solid $secondaryColor;
        box-shadow: 0px 0px 0px 1px white;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $secondaryColor; 
        transition: background-color 0.3s ease-in-out;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: $mainColor; 
    }
}

@mixin social-icons{
    &.fb{
        &:before{
            content: '\f39e';
            color: #3b5998;
        }
    }
    &.wa{
        &:before{
            content: '\f232';
            color: #25d366;
        }
    }
    &.me{
        &:before{
            content: '\f39f';
            color: #0078FF;
        }
    }
}

@include scroll-bar;
body{
    background: $secondaryColor;
}
.button1{
    background-color: $mainColor;
    padding: 10px 20px;
    color: white;
    margin: 0 40px 10px 0;
    display: block;
    @media (min-width: 992px) {
        display: inline-block;       
    }
}
header{
    height: 82px;
    background-color: $mainColor;
    position: relative;
    @media (min-width: 992px) {
        height: $headerHeight;
        position: fixed;
        width: 100%;
    }
    .logo{
        display: table;
        position: relative;
        left: 20px;
        top: 20px;
        @media (min-width: 992px) {
            top: 38px;
            left: 50px;
        }
        @media (min-width: 1920px) {
            top: 26px;
            left: 40px;
        }
        img{
            width: 44px;
            height: auto;
            @media (min-width: 992px) {
                width: 110px;
            }
            @media (min-width: 1920px) {
                width: 180px;
            }
        }
        span{
            font-family: $remnant;
            color: white;
            position: relative;
            display: block;
            font-size: 12px;
            letter-spacing: 2px;
            margin: 2px 0 0 0;
            @media (min-width: 992px) {
                font-size: 29px;
                letter-spacing: 2px;
                margin: 0;
            }
            @media (min-width: 1920px) {
                letter-spacing: 7px;
                margin: 6px 0 0 22px;
            }
        }
    }
    h1{
        font-family: $remnant;
        color: white;
        display: block;
        position: absolute;
        top: 0;
        height: 98px;
        bottom: 0;
        font-size: 16px;
        left: 95px;
        line-height: 24px;
        padding: 40px 0 0 20px;
        small{
            font-size: 10px;
            display: block;
            position: relative;
            top: -50px;
            font-family: $remnant;
            @media (min-width: 992px){
                font-size: 16px;
                top: 0;
            }
        }
        @media (min-width: 992px) {
            font-size: 48px;
            left: 306px;
            padding: 40px 0 0 0;
            line-height: 54px;
        }
        @media (min-width: 1920px) {
            font-size: 50px;
            padding: 48px 0 0 0;
            line-height: 50px;
        }
    }
}
main{
    display: block;
    height: auto;
    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
    }
    nav{
        float: left;
        height: 100%;
        flex-grow: 0;
        z-index: 900;
        position: relative;
        top: 0;
        display: block;
        width: 100%;
        padding: 30px 20px 10px 20px;
        flex-shrink: 0;
        @media (min-width: 992px) {
            display: table;
            width: $navWidth;
            padding: 30px 40px 0 40px;
            word-break: break-word;
            table-layout: fixed;
            position: fixed;
            top: $headerHeight;
            background: $secondaryColor;
        }
        @media (min-width: 1920px) {
            padding: 60px 40px 0 40px;
        }
        .nav{
            display: block;
        }
        a{
            font-family: $remnant;
            color: white;
            display: block;
            transition: font-size 0.3s ease-in-out;
            font-size: 20px;
            padding: 0 0 20px 0;
            @media (min-width: 992px) {
                font-size: 20px;
                padding: 0 0 20px 0;
            }
            @media (min-width: 1920px) {
                font-size: 22px;
                padding: 0 0 30px 0;
            }
            &:before{
                content: '>';
                font-family: $remnant;
                display: inline;
                color: white;
                margin: 0 8px 0 0;
            }
            &.active{
                font-size: 26px;
                width: auto;
                color: $mainColor;
                @media (min-width: 992px) {
                    font-size: 24px;
                }
                @media (min-width: 1920px) {
                    font-size: 26px;
                }
                &:before{
                    color: $mainColor;
                }
            }
            &:hover{
                text-decoration: none;
                color: $mainColor;
            }
        }
    }
    .pages{
        padding: 0;
        opacity: 1;
        display: table;
        table-layout: fixed;
        width: 100%;
        min-height: 700px;
        transition: opacity 0.3s ease-in-out;
        @media (min-width: 992px) {
            display: block;
            flex-grow: 1;
            padding: $headerHeight 0 0 $navWidth;
        }
        @media (min-width: 1920px) {
            padding: $headerHeight 0 0 $navWidth;
        }
        > div{
            display: none;
        }
        > div#tab-map{
            @media (min-width: 992px) {
                padding: 30px 0 0 0;
            }
            @media (min-width: 1920px) {
                padding: 70px 0 0 0;
            }
        }
        > div.active{
            display: block;
            @media (min-width: 992px) {
                display: flex;
                justify-content: space-between;
            }
        }
        .box{
            position: relative;
            display: table;
            width: 100%;
            padding: 0 20px;
            background: white;
            @media (min-width: 992px) {
                width: 410px;
                height: 450px;
                padding: 30px 40px 80px 88px;
                display: block;
                background: initial;
                background-size: cover;
                background-image: url('../image/box.webp');
                margin: 0;
            }
            @media (min-width: 1920px) {
                width: 650px;
                height: 710px;
                padding: 90px 80px 100px 170px;
            }
            &:before{
                content: 'Scroll down to  see  more!';
                display: none;
                position: absolute;
                bottom: 0px;
                right: -224px;
                width: 190px;
                color: white;
                font-size: 22px;
                line-height: 34px;
                font-family: $remnant;
                @media (min-width: 992px) {
                    display: block;
                }
            }
            &:after{
                content: '';
                display: none;
                background-image: url(../image/arrow-up.webp);
                position: absolute;
                width: 34px;
                height: 100px;
                background-size: cover;
                right: -80px;
                bottom: 94px;
                transform: rotate(-26deg);
                @media (min-width: 992px) {
                    display: block;
                }
            }
            .box-content{
                height: 100%;
                display: block;
                overflow-y: auto;
                overflow-x: hidden;
                > #stateGroups{
                    position: static;
                    &:before{
                        content: 'click to scroll!';
                        font-family: $remnant;
                        display: none;
                        position: absolute;
                        bottom: 40px;
                        left: 20px;
                        right: 0;
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                        color: $secondaryColor;
                        font-size: 16px;
                        @media (min-width: 992px) {
                            display: block;
                        }
                        @media (min-width: 1920px) {
                            font-size: 26px;
                            bottom: 60px;
                        }
                    }
                    > a.carousel-control{
                        display: none;
                        @media (min-width: 992px) {
                            display: block;
                            position: absolute;
                            top: auto;
                            bottom: 36px;
                            width: 32px;
                            height: 30px;
                            background-size: cover;
                            background-image: url(../image/left-arrow.webp);
                        }
                        @media (min-width: 1920px) {
                            width: 54px;
                            height: 46px;
                            bottom: 56px;
                        }
                        &.carousel-control-prev{
                            @media (min-width: 992px) {
                                left: 86px;
                            }
                            @media (min-width: 1920px) {
                                left: 120px;
                            }
                        }
                        &.carousel-control-next{
                            @media (min-width: 992px) {
                                right: 54px;
                                transform: rotate(180deg);
                            }
                            @media (min-width: 1920px) {
                                right: 72px;
                            }
                        }
                    }
                    .carousel-inner{
                        .carousel-item{
                            @media (max-width: 991px) {
                                display: block;
                                float: none;
                                border-bottom: 1px solid $secondaryColor;
                                margin: 0 0 60px 0;
                                padding: 0 0 20px 0;                            
                            }
                        }
                    }
                }
                h2{
                    font-family: $remnant;
                    font-size: 28px;
                    color: $secondaryColor;
                    margin: 30px 0 20px 0;
                    @media (min-width: 992px) {
                        font-size: 18px;
                    }
                    @media (min-width: 1920px) {
                        font-size: 22px;
                    }
                }
                h3{
                    font-family: $remnant;
                    font-size: 24px;
                    color: $secondaryColor;
                    margin: 30px 0 20px 0;
                    @media (min-width: 992px) {
                        font-size: 30px;
                    }
                    @media (min-width: 1920px) {
                        font-size: 32px;
                    }
                }
                ul{
                    margin: 0;
                    padding: 0;
                    display: table;
                    li{
                        margin: 0 0 36px 0;
                        padding: 0;
                        position: relative;
                        display: table;
                        @media (min-width: 992px) {
                            max-width: 236px;
                        }
                        @media (min-width: 1920px) {
                            max-width: 380px;
                        }
                        @include social-icons;
                        &.open{
                            > span{
                                background-image: url(../image/open.webp);
                            }
                        }
                        &.full{
                            > span{
                                background-image: url(../image/full.webp);
                            }
                        }
                        &:before{
                            font-family: "Font Awesome 5 Brands";
                            font-size: 30px;
                            padding: 0 18px 0 0;
                            @media (min-width: 992px) {
                                font-size: 32px;
                            }
                            @media (min-width: 1920px) {
                                font-size: 34px;
                            }
                        }
                        &:after{
                            @include box-underline;
                        }
                        a{
                            font-family: $remnant;
                            font-size: 20px;
                            list-style-type: none;
                            color: $secondaryColor;
                            transition: color 0.3s ease-in-out;
                            text-decoration: none;
                            @media (min-width: 992px) {
                                font-size: 24px;
                            }
                            @media (min-width: 1920px) {
                                font-size: 26px;
                            }
                            &:hover{
                                color: $mainColor;
                                &:after{
                                    opacity: 1;
                                }
                            }
                            &:after{
                                @include box-underline;
                                background-image: url(../image/underline-hover.webp);
                                z-index: 60;
                                opacity: 0;
                            }
                        }
                        > span{
                            display: block;
                            float: right;
                            width: 46px;
                            background-size: cover;
                            height: 26px;
                            margin: 8px 0 0 4px;
                            @media (min-width: 992px) {
                                width: 52px;
                                height: 28px;
                                margin: 10px 0 0 20px;
                                position: absolute;
                                top: 0;
                                right: -64px;
                            }
                            @media (min-width: 1920px) {
                                width: 60px;
                                height: 34px;
                                right: -80px;
                            }
                        }
                    }
                }
            }
        }
        .map{
            width: 100px;
            right: 0;
            top: 20px;
            position: absolute;
            z-index: 950;
            background-color: transparent;
            height: auto;
            display: table;
            transition: all 0.3s ease-in-out;
            &:before{
                content: '';
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: transparent;
                z-index: -1;
                transition: background-color 0.3s ease-in-out;
                pointer-events: none;
                @media (min-width: 992px) {
                    display: none;
                }
            }
            @media (min-width: 992px) {
                width: 200px;
                right: 30px;
                position: absolute;
                top: 70px;
            }
            @media (min-width: 1440px) {
                width: 600px;
                position: relative;
                top: -150px;
                right: auto;
            }
            @media (min-width: 1920px) {
                width: 700px;
                top: -250px;
            }
            img{
                width: 100%;
            }
            &.choose{
                top: 0;
                right: 0;
                width: 100%;
                @media (min-width: 992px) {
                    right: 0;
                    left: auto;
                    width: calc( 100% - $navWidth);
                    top: 0;
                    background-color: $secondaryColor;
                }
                &:before{
                    background-color: $secondaryColor;
                }
            }
            map{
                position: absolute;
                width: calc( 94% );
                height: calc( 96% );
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 4%;
                mix-blend-mode: difference;
                svg{
                    width: 100%;
                    height: 100%;
                    path{
                        opacity: 0;
                        fill: white;
                        transition: opacity 0.3s ease-in-out;
                        &.interact{
                            opacity: 0.5;
                        }
                        &.active{
                            opacity: 0;
                            
                        }
                    }
                }
            }
        }
        .md,.html{
            padding: 30px 20px;
            background: white;
            width: 100%;
            @media (min-width: 992px) {
                padding: 60px;
            }
            h1{
                color: $secondaryColor; //h1 should be replaced by js
                display: none;
            }
            h2{
                font-family: $remnant;
                font-size: 24px;
                color: $secondaryColor;
                margin: 30px 0 20px 0;
                &:first-child{
                    margin: 0 0 20px 0;
                }
                @media (min-width: 992px) {
                    font-size: 36px;
                }
                @media (min-width: 1920px) {
                    font-size: 32px;
                }
            }
            h3{
                font-family: $remnant;
                font-size: 22px;
                color: $secondaryColor;
                margin: 30px 0 20px 0;
                @media (min-width: 992px) {
                    font-size: 34px;
                }
                @media (min-width: 1920px) {
                    font-size: 30px;
                }
            }
            h4{
                font-family: $remnant;
                font-size: 20px;
                color: $secondaryColor;
                margin: 30px 0 20px 0;
                @media (min-width: 992px) {
                    font-size: 32px;
                }
                @media (min-width: 1920px) {
                    font-size: 28px;
                }
            }
            p, ul li, a{
                color: #32373c;
                font-size: 18px;
                letter-spacing: 1px;
            }
            a{
                text-decoration: underline;
            }
            iframe{
                border: 0;
                width: 100%;
            }
            .event-calendar{
                .meetup{
                    h3{
                        background: $secondaryColor;
                        color: white;
                        padding: 14px 20px;
                        margin: 0;
                    }
                    span{
                        position: relative;
                        font-size: 14px;
                        display: block;
                        float: left;
                        background: $mainColor;
                        color: white;
                        height: 34px;
                        line-height: 34px;
                        padding: 0 12px;
                        margin: 10px 0 0 34px;
                        @media (min-width: 1920px) {
                            margin: 0 0 0 34px;
                        }
                        &:not(.location){
                            @media (min-width: 1920px) {
                                margin: 0 0 0 60px;
                            }
                        }
                        &:before{
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            color: $mainColor;
                            top: 0;
                            left: -34px;
                            position: absolute;
                            font-size: 20px;
                            border: 1px solid $mainColor;
                            display: block;
                            width: 34px;
                            height: 34px;
                            line-height: 34px;
                            text-align: center;
                        }
                        &.location{
                            &:before{
                                content: '\f276';
                            }
                        }
                        &.date{
                            &:before{
                                content: '\f073';
                            }
                        }
                    }
                    p{
                        display: block;
                        clear: both;
                        padding: 20px 10px;
                        word-break: break-word;
                    }
                }
            }
            .working-groups{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                .group{
                    width: 300px;
                    max-width: 100%;
                    padding: 20px 0;
                    display: inline-block;
                    &:only-child{
                        margin: 0 auto 0 0;
                    }
                    h3{
                        margin: 0;
                        font-size: 24px;
                        line-height: 34px;
                        background-color: $secondaryColor;
                        padding: 20px;
                        color: white;
                    }
                    p{
                        padding: 20px 0;
                        span{
                            color: white;
                            text-transform: uppercase;
                            display: inline-block;
                            padding: 4px 6px;
                            margin: 4px 0;
                            &.open{
                                background-color: $greenColor;
                            }
                            &.full{
                                background-color: $redColor;
                            }
                        }
                        a{
                            &:before{
                                font-family: "Font Awesome 5 Brands";
                                padding: 0 10px 0 0;
                            }
                            @include social-icons;
                        }
                    }
                }
            }
        }
    }
}
footer{
    background-color: white;
    padding: 30px 20px;
    z-index: 900;
    position: relative;
    h2{
        color: $mainColor;
        font-family: $remnant;
        font-size: 28px;
        margin: 0 0 40px 0;
    }
}