---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');
.page-header{
    background: none;
    position: relative;
    &:before{
        content: '';
        display: block;
        background: url('https://yes-theory.github.io/images/Yes-Theory-Fam-Frankfurt-Meetup.jpg');
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.16;
    }
    &:after{
        content: '';
        display: block;
        background: #0065FC;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #154eff;
    font-family: "Open Sans";
}
.main-content h1{
    font-weight: 800;
}
.main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    font-weight: 600;
}