---
---

@import "{{ site.theme }}";
.page-header{
    background: none;
    &:before{
        content: '';
        display: block;
        background: url('https://yes-theory.github.io/images/Yes-Theory-Fam-Frankfurt-Meetup.jpg');
    }
}