{% assign country_name = page.country | downcase%}
{% assign country_id = page.country | downcase | replace: ' ', '-'%}
<!DOCTYPE html>
<html lang='{{ site.lang | default: 'en-US' }}'>

<head>
	{% if site.google_analytics %}
	<script async src='https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}'></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', '{{ site.google_analytics }}');
	</script>
	{% endif %}
	<meta charset='UTF-8'>

	{% seo %}

	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<meta name='theme-color' content='#157878'>
	<meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'>
	<link rel='stylesheet' href='../assets/css/bootstrap.min.css'>
	<link rel='stylesheet' href='{{ '/assets/css/preview.css?v=' | append: site.github.build_revision | relative_url }}'>
	<script src='../assets/js/jquery-3.4.1.min.js'></script>
	<script src='../assets/js/popper.min.js'></script>
	<script src='../assets/js/bootstrap.min.js'></script>
	<script src='../assets/js/jquery.googlecalreader-1.1.min.js'></script>
	<script src='../assets/js/polyfills.js'></script>
	<script src='../assets/js/webp-hero.bundle.js'></script>
	<script src='../assets/js/preview.js'></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
</head>

<body>
	<header>
		<div class='logo'>
			<img src='./assets/image/logo.webp' alt='YES from the yes theory logo' title='join Yes Theory'>
			<span>theory</span>
		</div>
		<h1>FAM {{ page.country }}
			<small>{{ page.title }}</small>
		</h1>
	</header>
	<main>
		<nav>
			<div class='nav' role='tablist' aria-orientation='vertical'>
				{% for country_page in site.data[country_name].pages %}
				<a role='tab' data-toggle='tab' href='#tab-{{ country_page.name|replace: " ", "-" }}' class='{% if country_page.name == "map" %}active{% endif %}'>{{ country_page.name }}</a>
				{% endfor %}
			</div>
		</nav>
		<div class='pages'>
			{% for country_page in site.data[country_name].pages %}
			<div id='tab-{{ country_page.name|replace: " ", "-" }}' role='tabpanel' class='fade {% if country_page.name == "map" %}active show{% endif %}'>
				{% case country_page.name %}
					{% when 'map' %}
				<div class='box' page-title='find like minded friends'>
					<div class='box-content'>
						<div id="stateGroups" class="carousel slide">
							<div class="carousel-inner">
								<div class="carousel-item active {{ country_id }}" data-pos='0'>
									{% include global/render-groups.html item=country_page.country %}
								</div>
								{% for district in country_page.districts %}
									{% assign district_id = district.name | downcase | replace: ' ', '-'%}
								<div class="carousel-item {{ district_id }}" data-pos='{{ forloop.index }}'>
									{% include global/render-groups.html item=district %}
								</div>
								{% endfor %}
							</div>
							<a class="carousel-control carousel-control-prev" href="#stateGroups" role="button" data-slide="prev"></a>
							<a class="carousel-control carousel-control-next" href="#stateGroups" role="button" data-slide="next"></a>
						</div>
					</div>
				</div>
				<div class='map'>
					<map>
						{% include germany/map.svg %}
					</map>
					<img src='/images/{{country_name }}/map.webp' alt='interactive map of {{ page.country }}' title='click the state you want to inspect'>
				</div>
					{% else %}
						{% capture tmp_include_name %}{{ country_name }}/{{ country_page.page }}{% endcapture %}
						{% capture tmp_include_content %}{% include {{ tmp_include_name }} %}{% endcapture %}
						{% if country_page.page contains '.md' %}
				<div class='md' page-title='{{ country_page.title }}'>
						{{ tmp_include_content | markdownify }}
				</div>
					{% elsif country_page.page contains '.html' %}
				<div class='html' page-title='{{ country_page.title }}'>
						{{ tmp_include_content }}
				</div>
					{% endif %}
				{% endcase %}
			</div>
			{% endfor %}
		</div>
	</main>
	<footer>
		<h2>Support us and</h2>
		{% include contribute.md %}
	</footer>
</body>
</html>