{% assign county_name = page.country | downcase%}
<!DOCTYPE html>
<html lang='{{ site.lang | default: 'en-US' }}'>

<head>
	{% if site.google_analytics %}
	<script async src='https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}'></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', '{{ site.google_analytics }}');
	</script>
	{% endif %}
	<meta charset='UTF-8'>

	{% seo %}

	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<meta name='theme-color' content='#157878'>
	<meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'>
	<link rel='stylesheet' href='../assets/css/bootstrap.min.css'>
	<link rel='stylesheet' href='{{ '/assets/css/preview.css?v=' | append: site.github.build_revision | relative_url }}'>
	<script src='../assets/js/jquery-3.3.1.slim.min.js'></script>
	<script src='../assets/js/popper.min.js'></script>
	<script src='../assets/js/bootstrap.min.js'></script>
	<script src='../assets/js/preview.js'></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
</head>

<body>
	<header>
		<div class='logo'>
			<img src='./assets/image/logo.webp' alt='YES from the yes theory logo' title='join Yes Theory'>
			<span>theory</span>
		</div>
		<h1>
			FAM Germany
		</h1>
	</header>
	<main>
		<nav>
			<div class='nav' role='tablist' aria-orientation='vertical'>
				{% for page in site.data.germany.pages %}
				<a role='tab' data-toggle='tab' href='#tab-{{ page.name }}' class='{% if page.name == "map" %}active{% endif %}'>{{ page.name }}</a>
				{% endfor %}
			</div>
		</nav>
		<div class='pages'>
			{% for page in site.data.germany.pages %}
			<div id='tab-{{ page.name }}' role='tabpanel' class='fade {% if page.name == "map" %}active show{% endif %}'>
				{% case page.name %}
					{% when 'map' %}
				<div class='box'>
					<div class='box-content'>
						{% if page.country.groups.size > 0 %}
						<h2>Groups</h2>
						<ul>
						{% for group in page.country.groups %}
							<li class='{{ group.type }} {{ group.status }}'>{{ group.name }}<span></span></li>
						{% endfor %}
						</ul>
						{% endif %}
						{% if page.country.group-chats.size > 0 %}
						<h2>Group chats</h2>
						<ul>
						{% for groupChat in page.country.group-chats %}
							<li class='{{ groupChat.type }} {{ groupChat.status }}'>{{ groupChat.name }}<span></span></li>
						{% endfor %}
						</ul>
						{% endif %}
						{% if page.country.working-groups.size > 0 %}
						<h2>Working groups</h2>
						<ul>
						{% for workingGroup in page.country.working-groups %}
							<li class='{{ workingGroup.type }} {{ workingGroup.status }}'>{{ workingGroup.name }}<span></span></li>
						{% endfor %}
						</ul>
						{% endif %}
					</div>
				</div>
				<div class='map'>
					<img src='/images/{{ page.country }}/map.webp' alt='interactive map of {{ page.country }}' title='click the state you want to inspect'>
				</div>
					{% else %}
						{% include { county_name }}/{{ page.name }}.md %}
				{% endcase %}
			</div>
			{% endfor %}
			
						
					
			<div id='tab-news' role='tabpanel' class='fade'>tab 2</div>
			<div id='tab-meetups' role='tabpanel' class='fade'>tab 3</div>
			<div id='tab-working-groups' role='tabpanel' class='fade'>tab 4</div>
			<div id='tab-event-planing' role='tabpanel' class='fade'>tab 5</div>
		</div>
	</main>
</body>
</html>